.departmentContainer {
	text-align: center;
}

.sidelink {
  color: #333;
  display: block;
  margin: 10px;
  position: relative;
  width: 15%
}

.sidelink input[name="calculations"] {
  position: absolute;
  visibility: hidden;
}

.sidelink section {
  display: block;
}

.sidelink .sidelinkLabel {
  background: #0cddee;
  border:1px solid #fff;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
  position: relative;
  width: inherit;
  z-index:100;
}

.sidelink section form {
  display: none;
  left: 300px;
  min-width: 300px;
  padding: 5px 15px 15px 21px;
  position: fixed;  
  top: 200px;
}

.sidelink section form:after {
  background-color: #fff;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.sidelink input[name="calculations"]:checked + label { 
  background: #95c8f2;
  color: #2296f5;
}

.sidelink input[name="calculations"]:checked ~ form {
  display: block;
}

form {
	height: 100%;
}

h2 {
	margin: 0;
	padding: 0;
}


table, th, td {
   border: 1px solid black;
}

.inputLabel {
	width: 230px;
	color: #000;
	font-weight: bold;
}

input, output{
	max-width: 160px;
	color: blue;
	font-weight: bold;
}

/*.inputData {
	max-width: 160px;
	color: blue;
	font-weight: bold;
}

.outputData {
	width: 150px;
	color: blue;
	font-weight: bold;
}*/

.tableLabel {
  background: inherit;
  border:0px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1px 1px;
  position: relative;
  width: 100%;
  z-index:100;
}

.radioCell {
	width: 80px;
}

.tableContainer {
  border-collapse: collapse;
  
}

.tableContainer td {
  border: 1px solid #ddd;
  padding: 1px;
}

.tableContainer tr:hover {background-color: #ddd;}
.tableContainer tr:nth-child(even){background-color: #a9ecac;}
.tableContainer tr:nth-child(odd){background-color: #84d087;}
.tableContainer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}  

.inputRadio {
	position: absolute;
	visibility: hidden;
}

.inputRadio:checked + label {
	background: #275929;
	color: white;
	border: 0px;
}

.inputRadio:checked + form {
	display: block;
}

#creaCleartable {
  border-collapse: collapse;
  width: 100%;
  
}