.departmentContainer {
	text-align: center;
}

.sidelink {
  color: #333;
  display: block;
  margin: 10px;
  position: relative;
  width: 15%
}

.sidelink input[name="calculations"] {
  /*left: -9999px;*/
  position: absolute;
  /*top: -9999px;*/
  visibility: hidden;
}

.sidelink section {
  display: block;
}

.sidelink .sidelinkLabel {
  background: #0cddee;
  border:1px solid #fff;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
  position: relative;
  width: inherit;
  z-index:100;
}

.sidelink section form {
  display: none;
  left: 300px;
  min-width: 300px;
  padding: 15px 15px 15px 21px;
  position: fixed;  
  top: 200px;
}

.sidelink section form:after {
  background-color: #fff;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.sidelink input[name="calculations"]:checked + label { 
  background: #95c8f2;
  color: #2296f5;
}

.sidelink input[name="calculations"]:checked ~ form {
  display: block;
}


table, th, td {
   border: 1px solid black;
}

.inputLabel {
	width: 150px;
	color: #000;
	font-weight: bold;
}

.inputData {
	max-width: 160px;
	color: blue;
	font-weight: bold;
}

.outputData {
	width: 150px;
	color: blue;
	font-weight: bold;
}

.tableLabel {
  background: inherit;
  border:0px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1px 1px;
  position: relative;
  width: 100%;
  z-index:100;
}

.radioCell {
	width: 80px;
}

#lipidProfileTable {
  border-collapse: collapse;
  
}

#lipidProfileTable td {
    border: 1px solid #ddd;
    padding: 3px;
}
#lipidProfileTable tr:hover {background-color: #ddd;}
#lipidProfileTable tr:nth-child(even){background-color: #a9ecac;}
#lipidProfileTable tr:nth-child(odd){background-color: #84d087;}
#lipidProfileTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.egfrTable {
  border-collapse: collapse;
  
}

.egfrTable td {
  border: 1px solid #ddd;
  padding: 1px;
}



.egfrTable tr:hover {background-color: #ddd;}
.egfrTable tr:nth-child(even){background-color: #a9ecac;}
.egfrTable tr:nth-child(odd){background-color: #84d087;}
.egfrTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}  

.egfrTable input[name="egfradgen"] {
  /*left: -9999px;*/
  position: absolute;
  /*top: -9999px;*/
   visibility: hidden;
}

.egfrTable input[name="egfradrace"] {
  /*left: -9999px;*/
  position: absolute;
  /*top: -9999px;*/
  visibility: hidden;
}

.egfrTable input[name="egfradgen"]:checked + label { 
  background: #275929;
  color: white;
  border: 0px;
}

.egfrTable input[name="egfradrace"]:checked + label { 
  background: #275929;
  color: white;
  border: 0px;
}

.egfrTable input[name="egfradgen"]:checked ~ form {
  display: block;
  
}

.egfrTable input[name="egfradgenp"] {
  /*left: -9999px;*/
  position: absolute;
  /*top: -9999px;*/
  visibility: hidden;
}

.egfrTable input[name="egfradh"] {
  /*left: -9999px;*/
  position: absolute;
  /*top: -9999px;*/
  visibility: hidden;
}

.egfrTable input[name="egfradgenp"]:checked + label { 
  background: #275929;
  color: white;
  border: 0px;
}

.egfrTable input[name="egfradh"]:checked + label { 
  background: #275929;
  color: white;
  border: 0px;
}

.egfrTable input[name="egfradgenp"]:checked ~ form {
  display: block;
  
}
